.test{
    width: fit-content;
    padding: 20px;
    text-align: center;
    background-color: #2b2b2b;
    margin: 100px auto;
    border-radius: 10px;
    font-family: monospace;
    color: whitesmoke;
    text-transform: uppercase;

}