.header {
  display: none;
}
.hamburger {
  width: 35px;
  height: 35px;
  border-radius: 20%;
  background-color: #2b2b2b;
  position: absolute;
 z-index: 10;
  top: 5px;
  left: 5px;
  .open {
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-flow: column wrap;
    gap: 5px;
    justify-content: center;
    align-items: center;
    .line {
      width: 90%;
      height: 2px;
      border-radius: 20%;
      background-color: whitesmoke;
    }
  }
 
}
 #open {
    display: none;
   &:checked ~ .headerMoblie{
    left: 0px;
   }
  }
  #close{
    display: none;
  }
.headerMoblie {
  width: 80vw;
  height: 60vh;
  background-color: #2b2b2b;
  position: absolute;
  top: 0;
  left:-100%;
  display: flex;
  flex-flow: column wrap;
  row-gap: 10px;
  transition: 200ms;
  justify-content: center;
  z-index: 10;
  .close{
    font-size: 40px;
    color: crimson;
    position: absolute;
    left: 10px;
    top: 5px;
  }
  .menu__item {
    width: 100%;
    height: 40px;
    a {
      display: block;
      width: 100%;
      height: 40px;
      text-decoration: none;
      color: whitesmoke;
      font-family: monospace;
      font-size: 17px;
      text-transform: capitalize;
      transition: 200ms;
      line-height: 40px;
      padding-left: 10px;
      box-sizing: border-box;
      &:hover {
        background-color: gray;
      }
    }
  }
}
.topHeader{
    width: 100%;
    height: 40px;
    background-color: #2b2b2b;
    h1{
        text-align: center;
        font-family: monospace;
        color: whitesmoke;
        text-transform: capitalize;
        line-height: 40px;
    }

}