.slider{
    width: 100%;
    height: 300px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
     .swiper {
      width:95%;
      height:100%;
      border-radius: 15px;
      box-shadow: 1px 3px 15px #3b3b3b;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #444;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 15px;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 15px;
    }

}