.footer {
  width: 100%;
  height: 70px;
  background-color: #2b2b2b;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  h1 {
    color: whitesmoke;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    span {
      font-size: 50px;
      color: crimson;
    }
  }
}
