.header{
    display: block;
    width: 100%;
    height: 40px;
    background-color: #2b2b2b;
    nav{
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow:row wrap;
        justify-content: center;
        align-items: center;
        column-gap: 30px;
        .menu__item{
            width: fit-content;
            height: 100%;
            padding: 0 10px;
            box-sizing: border-box;
            a{
            display: block;
            width: fit-content;
            height: 100%;
            padding: 0 10px;
            box-sizing: border-box;
                line-height: 40px;
                text-decoration: none;
                font-family: monospace;
                font-size: 16px;
                font-weight: bold;
                color: whitesmoke;
                transition: 150ms;
                &:hover{
                    transform: scale(1.09);
                }
            }
        }

    }
}
.hamburger{
    display: none;
}
.headerMoblie{
    display: none;
}
.topHeader{
    display: none;
}