.products {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 40px;
  .item {
    width: 40%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #2b2b2b;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    gap: 25px;
    box-shadow: 1px 3px 15px #2b2b2b;
    border-radius: 20px;
    h1 {
      font-family: monospace;
      color: whitesmoke;
    }
    .image {
      width: 550px;
      height: 400px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
        box-shadow: 1px 3px 15px #5b5b5b;
      }
    }
    p {
      width: 90%;
      line-height: 26px;
      font-family: monospace;
      text-align: justify;
      font-size: 17px;
      color: whitesmoke;
      display: block;
    }
    a {
      display: block;
      padding: 10px;
      box-sizing: border-box;
      text-decoration: none;
      text-transform: capitalize;
      color: whitesmoke;
      font-size: 18px;
      font-family: Arial, Helvetica, sans-serif;
    }
  }
}
